{% extends 'blog/base.html' %}

{% block content %}
<div class="loginForm">
    <div class="col-md-offset-5 col-md-7">
        <div class="formbody">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="login" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}